.box {
  width: 500px;
  height: 500px;
  background-color: #000;
}

/* 테스트1 */
.test1 {
  width: 50px;
  height: 50px;
}
/* 테스트1 */

.box4 {
  width: 2222px;
  height: 100px;
}

.box2 {
  width: 300px;
  border: 1px solid blue;
  height: 200px;
  border: 1px solid skyblue;
  background: #333;
}
