.box {
  width: 500px;
  height: 500px;
  background-color: #000;
}
/* 마스터변경 */
.test1 {
  width: 20px;
  height: 20px;
}
/* 마스터변경 */

.box4 {
  width: 2222px;
  height: 100px;
}
/* 데브변경 */
.box2 {
  width: 300px;
  border: 1px solid blue;
  height: 200px;
  border: 1px solid yellow;
  background: #333;
}
/* 데브변경 */
